* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
  background: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 200;
  padding-top: 5% 0;
  padding-bottom: 5%;
}
#logo {
  margin: 20px;
  float: left;
  width: 90px;
  height: 90px;
  background: url(file:///Users/ianlumiere/Documents/cutmypic%2070x70px.png) no-repeat center;
}
/*---Start Navigation Style---*/
nav {
  float: right;
  padding: 15px 40px 0 0;
}
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url();
}
a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}
ul {
  list-style-type: none;
}
nav ul li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 125%;
  font-weight: 200;
  display: inline-block;
  float: left;
  padding: 10px;
}
nav ul li a {
  color: #F5F5F5;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  color: #5C6BC0;
}
.current {
  color: #5C6BC0;
}
/*---End Navigation---*/
/*---Start Banner---*/
.banner {
  width: 100%;
}
.banner-inner {
  width: 100%;
  height: auto;
  min-height: 400px;
  background-image: url(file:///Users/ianlumiere/Dropbox/CS%20Projects/Resume%20Website/img/20483.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.one-fourth {
  width: 25%;
  float: left;
  text-align: center;
  color: #F0F0F0;
}
#Experience {
  background-color: #F06292;
  transition: all 0.5s ease;
}
#Experience:hover {
  color: #5C6BC0;
}
#Education {
  background-color: #4FC3F7;
  transition: all 0.5s ease;
}
#Education:hover {
  color: #5C6BC0;
}
#Projects {
  background-color: #64B5F6;
  transition: all 0.5s ease;
}
#Projects:hover {
  color: #5C6BC0;
}
#Skills {
  background-color: #7986CB;
  transition: all 0.5s ease;
}
#Skills:hover {
  color: #5C6BC0;
}
.one-fourth i {
  color: #FFFFFF;
  font-size: 200%;
  padding: 5% 0 2% 0;
  transition: all 0.5s ease;
}
.one-fourth i:hover {
  color: #5C6BC0;
}
/*---End Banner---*/
/*---Start Main Section---*/
.content {
  color: #1A237E;
}
.content h2 {
  text-align: center;
  font-size: 350%;
  font-weight: 300;
  padding: 10% 0 0 0;
}
.content h4 {
  font-size: 225%;
  font-weight: 300;
}
.content h5 {
  font-size: 140%;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 10px;
}
.content li {
  font-weight: 300;
}
.experience {
  margin: 30px;
  width: 60%;
  float: left;
}
/*---End Main Section---*/
/*---Start Sidebar Section---*/
.sidebar{
  float: left;
  max-width: 40%;
  margin: 30px;
  color: #1A237E;
}
.sidebar h4 {
  font-size: 225%;
  font-weight: 300;
}
.sidebar h5 {
  font-size: 140%;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.education-info{
  list-style: none;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-weight: 300;
}
.education-img{
  margin: 0 10px 10px 0;
}
/*---End Sidebar Section---*/
/*---Start Footers---*/
.social {
  clear: left;
  list-style-type: none;
  text-align: center;
  background-color: #81D4FA;
}
.social li {
  display: inline;
}
.social i {
  font-size: 200%;
  margin: 1%;
  padding: 1% 5% 1% 5%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.social i:hover {
  color: #5C6BC0;
}
footer.second {
  padding: 15px 0 15px 0;
  text-align: center;
  max-height: 20px;
  color: #4FC3F7;
}
/*---End Footers---*/
/*---Start Media Adjustment---*/
@media screen and (max-width: 768px) {
  h3 {
    font-size: 125%;
  }
  header {
    position: absolute;
  }
  #logo {
    background: url(file:///Users/ianlumiere/Documents/cutmypic%2070x70px.png) no-repeat center;
  }
  #menu-icon {
    display: inline-block;
  }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #4FC3F7;
    right: 20px;
    top: 60px;
    width: 50%;
  }
  nav:hover ul{
    display: block;
  }
  nav li {
    text-align: left;
    width: 100%;
  }
  .one-fourth {
    float: left;
    width: 50%;
  }
  .one-fourth i {
    font-size: 200%;
    padding: 4% 0 1% 0;
  }
  .social i {
    font-size: 140%;
  }
  .Main h2 {
    font-size: 200%;
    font-weight: 300;
  }
  .EducationMain {
    width: 100%;
  }
}
/*---End Media Adjustment---*/
